.DS_Store
__pycache__/
aisles.csv
departments.csv
order_products__*.csv
orders.csv
products.csv
sample_submission.csv
train.csv
submission.csv
more_features.csv

runs/
best/
outputs/
multirun/

*.pkl
DATA/
baseline
*.csv
pretrained/
dataset/
cifar*
fonts/
batch_images
augraphy_cache/
experiments/
results/
logs/
best_model/
prediction/